
<div class="row collapse leisure" id="white-bg">
  <h1><%= @category.name.capitalize %></h1>
  <hr>
  <% @activities.each do |activity| %>
  <div class="row collapse" id="activity-listing">
    <div class="large-7 medium-8 small-12 columns">
      <div class="med-padding">
        <h2><%= activity.activity_name %></h2>
        <p><%= activity.listings_description %></p>
        <a href="/leisure/<%= activity.id %>">
          Find out More / Book
        </a>
      </div>
    </div>
    <div class="large-4 medium-4 small-12 columns">
      <!-- TODO show listings image -->
      <img src="/img/kayak.jpg">
    </div>
  </div>
  <% end %>
</div>
