<div class="row collapse leisure" id="white-bg">
  <div class="banner-image-wrap">
    <img src="/img/kayak-big.jpg">
  </div>
  <h1>Kayaking</h1>
  <h2 class="provider-detail">The Maenporth Kayak Club</h2>
  <hr>
  <div class="large-6 columns">
    <h2>Your Offer Code:</h2>
    <div class="code-wrap">
      <span>KAYAK-MPORTH-070416-eer34ja</span>
    </div>
    <p>This offer code entitles you to whatever it is Maenporth have agreed with the activity provider.  Something like 10% off.  Here are also some special instructions for using the code.</p>
    <div class="offer-code-btns">
      <a href="">Visit The Maenporth Kayak Club Website</a>
      <a href="" download>Download Terms and Conditions</a>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="add-info">
      <h3>Address</h3>
      <div class="address">
        <p>Address Line 1</p>
        <p>Address Line 2</p>
        <p>Address Line 3</p>
        <p>City</p>
        <p>County</p>
        <p>Postcode</p>
      </div>
      <h3>Availability</h3>
      <p>9am - 6:30pm, Tue - Sun</p>
      <h3>Phone</h3>
      <p>01326 555 444</p>
      <h3>Email</h3>
      <p><a href="mailto:">kayak@club.com</a></p>
      <h3>Website</h3>
      <p><a href="">www.kayakclub.com</a></p>
    </div>
  </div>
</div>
