<div class="row collapse">
  <h1>Maenporth Estate Properties</h1>
  <a href="/properties/for-sale"><button>Properties For Sale</button></a><br>
  <a href="/properties/for-rent"><button>Properties For Rent</button></a><br>
  <a href="/activities/all-categories"><button>All activities</button></a><br>
  <a href="/admin/properties"><button>Property Admin</button></a><br>
  <a href="/admin/activities"><button>Activity Admin</button></a>
</div>
