<footer>
  <div class="row collapse">
      <div class="large-12 columns">
        <div class="footer-logo-wrap">
            <img class="footer-logo" src="/img/white-logo.png">
        </div>
        <hr style="border-bottom: 0.1em solid white;">
        <p>Maenporth Estate Company Ltd 2015</p>
      </div>
  </div>
</footer>
