  <div class="row collapse" id="white-bg">
      <h1>Properties For Sale at Maenporth</h1>
      <hr>
    <!-- START REPEATING -->
          <div class="property-box">
            <div class="row collapse">
              <div class="large-10 medium-10 columns">
                <h2>Property Name 38 Lower Gardens</h2>
              </div>
              <div class="large-2 medium-2 columns">
                <h2>For Sale <img class="property-box-icon" src="/img/house-svg-09.svg"></h2>
              </div>
            </div>
            <hr>
            <div class="row collapse">
              <div class="large-3 medium-3 columns">
                <img class="property-image" src="http://www.maenporthestate.com/uploads/3/1/1/2/31128549/2375611_orig.jpg">
              </div>
                <div class="large-7 medium-9 columns">
                  <div class="sale-content">
                  <ul>
                    <li>Semi Detached</li>
                    <li>4 Bedrooms</li>
                  </ul>
                  <h3>£243,000</h3>
                </div>
              </div>
              <div class="large-2 medium-12 columns">
                <a href="insert-link">
                  <button>Find Out More</button>
                </a>
              </div>
            </div>
          </div>
    <!-- END REPEATING -->

    <!-- START REPEATING -->
          <div class="property-box">
            <div class="row collapse">
              <div class="large-10 medium-10 columns">
                <h2>Property Name 38 Lower Gardens</h2>
              </div>
              <div class="large-2 medium-2 columns">
                <h2>For Sale <img class="property-box-icon" src="/img/house-svg-09.svg"></h2>
              </div>
            </div>
            <hr>
            <div class="row collapse">
              <div class="large-3 medium-3 columns">
                <img class="property-image" src="http://www.maenporthestate.com/uploads/3/1/1/2/31128549/2375611_orig.jpg">
              </div>
                <div class="large-7 medium-9 columns">
                  <div class="sale-content">
                  <ul>
                    <li>Semi Detached</li>
                    <li>4 Bedrooms</li>
                  </ul>
                  <h3>£243,000</h3>
                </div>
              </div>
              <div class="large-2 medium-12 columns">
                <a href="insert-link">
                  <button>Find Out More</button>
                </a>
              </div>
            </div>
          </div>
    <!-- END REPEATING -->
    <!-- START REPEATING -->
          <div class="property-box">
            <div class="row collapse">
              <div class="large-10 medium-10 columns">
                <h2>Property Name 38 Lower Gardens</h2>
              </div>
              <div class="large-2 medium-2 columns">
                <h2>For Sale <img class="property-box-icon" src="/img/house-svg-09.svg"></h2>
              </div>
            </div>
            <hr>
            <div class="row collapse">
              <div class="large-3 medium-3 columns">
                <img class="property-image" src="http://www.maenporthestate.com/uploads/3/1/1/2/31128549/2375611_orig.jpg">
              </div>
                <div class="large-7 medium-9 columns">
                  <div class="sale-content">
                  <ul>
                    <li>Semi Detached</li>
                    <li>4 Bedrooms</li>
                  </ul>
                  <h3>£243,000</h3>
                </div>
              </div>
              <div class="large-2 medium-12 columns">
                <a href="insert-link">
                  <button>Find Out More</button>
                </a>
              </div>
            </div>
          </div>
    <!-- END REPEATING -->
  </div>
</div>
