<div class="row collapse" id="white-bg">
  <div class="large-12 columns">
    <div class="property-box property-box-large for-rent">
      <div class="row collapse">
        <div class="large-10 medium-10 columns">
          <h2>Property Name 38 Lower Gardens</h2>
        </div>
        <div class="large-2 medium-2 columns">
          <h2>For Rent <img class="property-box-icon" src="/img/sun-09.svg"></h2>
        </div>
      </div>
      <hr>
      <!-- -->
      <div class="row collapse">
        <div class="large-8 columns">
          <div id="bigimages">
            <div id="normal1">
              <img class="large-image" src="/img/nature1.jpg" alt=""/>
            </div>

            <div id="normal2">
              <img class="large-image" src="/img/nature2.jpg" alt=""/>
            </div>

            <div id="normal3">
              <img class="large-image" src="/img/nature3.jpg" alt=""/>
            </div>

            <div id="normal4">
              <img class="large-image" src="/img/nature4.jpg" alt=""/>
            </div>

            <div id="normal5">
              <img class="large-image" src="/img/nature5.jpg" alt=""/>
            </div>

            <div id="normal6">
              <img class="large-image" src="/img/nature6.jpg" alt=""/>
            </div>

            <div id="normal7">
              <img class="large-image" src="/img/nature7.jpg" alt=""/>
            </div>

            <div id="normal8">
              <img class="large-image" src="/img/nature8.jpg" alt=""/>
            </div>
          </div>
        </div>
        <div class="large-2 columns">
          <div id="gallery">
            <div id="thumbs">
              <div class="row collapse">
              <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-2">
                <li><a href="javascript: changeImage(1);"><img src="/img/nature1.jpg" alt="" /></a></li>
                <li><a href="javascript: changeImage(2);"><img src="/img/nature2.jpg" alt="" /></a></li>
                <li><a href="javascript: changeImage(3);"><img src="/img/nature3.jpg" alt="" /></a></li>
                <li><a href="javascript: changeImage(4);"><img src="/img/nature4.jpg" alt="" /></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="large-2 columns">
        <div id="gallery">
          <div id="thumbs">
            <div class="row collapse">
            <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-2">
              <li><a href="javascript: changeImage(5);"><img src="/img/nature5.jpg" alt="" /></a></li>
              <li><a href="javascript: changeImage(6);"><img src="/img/nature6.jpg" alt="" /></a></li>
              <li><a href="javascript: changeImage(7);"><img src="/img/nature7.jpg" alt="" /></a></li>
              <li><a href="javascript: changeImage(8);"><img src="/img/nature8.jpg" alt="image-alt" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      </div>
      <!-- -->
    </div>
  </div>
</div>
