<footer>
  <div class="row collapse">
      <div class="large-12 columns">
        <div class="footer-logo-wrap">
            <img class="footer-logo" src="/img/white-logo.png">
        </div>
        <hr style="border-bottom: 0.1em solid white;">
        <p>We use Cookies by default on this website.  To find out more about cookies and how we use them,<a href="http://www.maenporthestate.com/privacy-amp-cookies.html"> click here.</a></p>
        <!--<h2 style="color: white;"><a style="color: white;" href="http://www.maenporthestate.com/owners-login.html">Owner's Login</a></h2>-->
        <div class="foot-small">
          <p>Maenporth Estate Company 2015</p>
        </div>
      </div>
  </div>
</footer>
