<!-- START NEWSLETTER SIGN UP -->
<div onclick="document.getElementById('top-bar-sign-up').style.display = 'inline'" class="top-bar-cstm">
  <div class="row collapse">
      <div class="small-12 columns">
        <p>Keep in touch! For news and future holiday inspiration sign up to our free newsletter. Click here.</p>
      </div>
  </div>
</div>
<div id="top-bar-sign-up">
  <div class="top-bar-sign-up-attr">
    <div class="row collapse">
      <div class="medium-6 columns">
        <h1>Maenporth Estate Newsletter</h1>
        <h2>Keep in touch! For news and future holiday inspiration sign up to our free newsletter.</h2>
        <p class="closebtn" onclick="document.getElementById('top-bar-sign-up').style.display = 'none'">Close ✖</p>
      </div>
      <div class="medium-6 columns">
        <div id="mlb2-1838593" class="ml-subscribe-form ml-subscribe-form-1838593">
          <div class="ml-vertical-align-center">
            <div class="subscribe-form ml-block-success" style="display:none">
              <div class="form-section">
                <h4>Newsletter</h4>
                <p>Thank you! You have successfully subscribed to our newsletter.</p>
              </div>
            </div>
            <form class="ml-block-form" action="//app.mailerlite.com/webforms/submit/r9j5k2" data-code="r9j5k2" method="POST" target="_blank">
              <div class="subscribe-form">
                <div class="form-section">
                  <p>Signup to our newsletter here...</p>
                </div>
                <div class="form-section">
                  <div class="form-group ml-field-email ml-validate-required ml-validate-email">
                    <input type="email" name="fields[email]" class="form-control" placeholder="Email*" value="">
                  </div>
                </div>
                <input type="hidden" name="ml-submit" value="1" />
                <button type="submit" class="primary gradient-on">
                  Subscribe
                </button>
                <button disabled="disabled" style="display: none;" type="button" class="loading gradient-on">
                  <img src="//static.mailerlite.com/images/rolling.gif" width="20" height="20" style="width: 20px; height: 20px;">
                </button>
              </div>
            </form>
            <script>
              function ml_webform_success_1838593() {
              jQuery('.ml-subscribe-form-1838593 .ml-block-success').show();
              jQuery('.ml-subscribe-form-1838593 .ml-block-form').hide();
            };
            </script>
          </div>
        </div>
        <script type="text/javascript" src="//static.mailerlite.com/js/w/webforms.js?v25"></script>

      </div>
    </div>
  </div>
</div>

<!-- END SIGN UP -->

<div id="wrapper">
  <div class="show-for-large-up">
  <!--  <header id="header">
      <div class="row collapse">
        <div class="large-12 columns">
          <div id="logomain"><a href="http://www.maenporthestate.com/"><img src="http://www.weebly.com/uploads/3/1/1/2/31128549/custom_themes/335895460405797472/files/Logo%20for%20new%20site-04%20250%20px%20wide.png?1403086597702"></a></div>

          <nav id="navigation">
            <ul class="wsite-menu-default">
              <li id="active" class="wsite-menu-item-wrap">
                <a href="http://www.maenporthestate.com/homes.html" class="wsite-menu-item">Homes</a>
              </li>
              <li class="wsite-menu-item-wrap">
                <a href="http://www.maenporthestate.com/leisure.html" class="wsite-menu-item">Leisure	</a>
              </li>
              <li class="wsite-menu-item-wrap">
                <a href="http://www.maenporthestate.com/gardens.html" class="wsite-menu-item">Gardens</a>
              </li>
              <li class="wsite-menu-item-wrap">
                <a href="http://www.maenporthestate.com/places-to-visit.html"class="wsite-menu-item">Places To Visit</a>
              </li>
              <li class="wsite-menu-item-wrap">
                <a href="http://www.maenporthestate.com/gallery.html"class="wsite-menu-item">Gallery</a>
              </li>
              <li class="wsite-menu-item-wrap">
                <a href="http://www.maenporthestate.com/history.html"class="wsite-menu-item">History</a>
              </li>
              <li class="wsite-menu-item-wrap">
                <a href="http://www.maenporthestate.com/find-us.html" class="wsite-menu-item">Find Us</a>
              </li>
            </ul>
          </nav>
          <div id="socialicons">
            <a href="https://twitter.com/MaenporthEstate" target="_blank">
              <img src="http://www.weebly.com/uploads/3/1/1/2/31128549/custom_themes/335895460405797472/files/Maenporth%20twitter-03.png?1403087330152">
            </a>
            <a href="https://www.facebook.com/MaenporthEstate?fref=ts" target="_blank">
              <img src="http://www.weebly.com/uploads/3/1/1/2/31128549/custom_themes/335895460405797472/files/maenporth%20facebook-03.png?1403087451158">
            </a>
            <a href="https://plus.google.com/101333752186501198379/about" target="_blank">
              <img src="http://www.weebly.com/uploads/3/1/1/2/31128549/custom_themes/335895460405797472/files/Maenporth%20google%20plus-03.png?1403087467401">
            </a>
          </div>
          <div id="contactnumber">01326 250605
          </div>
        </div>
      </div>
    </header>-->
    <header id="header">
      <div class="row collapse">
        <div class="large-3 columns">
          <div id="logomain">
            <a href="http://www.maenporthestate.com/">
              <img src="http://www.weebly.com/editor/uploads/3/1/1/2/31128549/custom_themes/335895460405797472/files/mporth-logo-main-250.png">
            </a>
          </div>
        </div>
        <div class="large-9 columns">
          <nav id="navigation"><ul class="wsite-menu-default">
            <!--<li id="active" class="wsite-menu-item-wrap    wsite-nav-1" style="position: relative;">
              <a href="http://www.maenporthestate.com/" class="wsite-menu-item" style="position: relative;">
                Home
              </a>
            </li>-->
            <li class="wsite-menu-item-wrap wsite-nav-2" style="position: relative;">
              <a href="http://holidayhomes.maenporthestate.com/properties/for-sale" class="wsite-menu-item" style="position: relative;">
                For Sale
              </a>
            </li>
            <li class="wsite-menu-item-wrap wsite-nav-3" style="position: relative;">
              <a href="http://holidayhomes.maenporthestate.com/properties/for-rent" class="wsite-menu-item" style="position: relative;">
                For Rent
              </a>
            </li>
            <li class="wsite-menu-item-wrap wsite-nav-4" style="position: relative;">
              <a href="http://holidayhomes.maenporthestate.com/leisure" class="wsite-menu-item" style="position: relative;">
                Leisure
              </a>
            </li>
            <li class="wsite-menu-item-wrap    wsite-nav-5" style="position: relative;">
              <a href="http://www.maenporthestate.com/gardens.html" class="wsite-menu-item" style="position: relative;">
                Gardens
              </a>
            </li>
            <li class="wsite-menu-item-wrap    wsite-nav-5" style="position: relative;">
              <a href="http://www.maenporthestate.com/blogs.html" class="wsite-menu-item" style="position: relative;">
                Blog
              </a>
            </li>
            <li class="wsite-menu-item-wrap    wsite-nav-6" style="position: relative;">
              <a href="http://www.maenporthestate.com/places-to-visit.html" class="wsite-menu-item" style="position: relative;">
                Places To Visit
              </a>
            </li>
            <li class="wsite-menu-item-wrap    wsite-nav-7" style="position: relative;">
              <a href="http://www.maenporthestate.com/gallery.html" class="wsite-menu-item" style="position: relative;">
                Gallery
              </a>
            </li>
            <li class="wsite-menu-item-wrap    wsite-nav-8" style="position: relative;">
              <a href="http://www.maenporthestate.com/history.html" class="wsite-menu-item" style="position: relative;">
                History
              </a>
            </li>
            <li class="wsite-menu-item-wrap    wsite-nav-9" style="position: relative;">
              <a href="http://www.maenporthestate.com/find-us.html" class="wsite-menu-item" style="position: relative;">
                Find Us
              </a>
            </li>
          </ul>
        </nav>
        <div class="row collapse">
          <div class="large-12 columns">
            <div id="socialicons">
<a href="https://twitter.com/MaenporthEstate" target="_blank"><img src="http://360tour.maenporthestate.com/mporthtwitter.png"></a>
									<a href="https://www.facebook.com/MaenporthEstate?fref=ts" target="_blank"><img src="http://360tour.maenporthestate.com/mporthfacebook.png"></a>
									<a href="https://plus.google.com/101333752186501198379/about" target="_blank"><img src="http://360tour.maenporthestate.com/mporthgoogle.png"></a>
            </div>
          </div>
        </div>
        <div class="row collapse">
          <div class="large-12 columns">
            <div id="contactnumber">01326 250605
            </div>
          </div>
        </div>
      </div>
    </div>
    </header>
  </div>
  <div id="nav-head-height-fix" class="hide-for-large-up">
<div class="hide-for-large-up row collapse">
  <div class="small-8 columns">
    <div id="logomain2"><a href="http://www.maenporthestate.com/"><img src="http://www.weebly.com/editor/uploads/3/1/1/2/31128549/custom_themes/335895460405797472/files/mporth-logo-main-250.png"></a></div>
  </div>
  <div class="small-4 columns">
    <div onclick="document.getElementById('mobile-nav').style.display = 'inline'">
            <img class="mb-menu-icon" src="http://www.maenporthestate.com/files/theme/mporth-mob-mnu-icon.svg">
        </div>
  </div>
</div>
</div>
<div id="mobile-nav">
<div id="mob-nav-head">
  <div class="hide-for-large-up row collapse">
    <div class="small-8 columns">
      <div id="logomain2"><a href="http://www.maenporthestate.com/"><img src="http://www.weebly.com/editor/uploads/3/1/1/2/31128549/custom_themes/335895460405797472/files/mporth-logo-main-250.png"></a></div>
    </div>
    <div class="small-4 columns">
      <div onclick="document.getElementById('mobile-nav').style.display = 'none'">
        <img class="mb-menu-icon" src="http://www.maenporthestate.com/files/theme/close-mnu.svg">
      </div>
    </div>
  </div>
  <div class="row collapse">
    <div id="mob-nav-mnu">
<ul class="wsite-menu-default">
<li class="wsite-menu-item-wrap">
<a href="/properties/for-sale" class="wsite-menu-item">
For Sale
</a>
</li>
<li class="wsite-menu-item-wrap">
<a href="/properties/for-rent" class="wsite-menu-item">
For Rent
</a>
</li>
<li class="wsite-menu-item-wrap">
<a href="http://holidayhomes.maenporthestate.com/leisure" class="wsite-menu-item">
Leisure
</a>
</li>
<li class="wsite-menu-item-wrap">
<a href="http://www.maenporthestate.com/gardens.html" class="wsite-menu-item">
Gardens
</a>
</li>
<li class="wsite-menu-item-wrap">
<a href="http://www.maenporthestate.com/blogs" class="wsite-menu-item">
Blog
</a>
</li>
<li class="wsite-menu-item-wrap">
<a href="http://www.maenporthestate.com/places-to-visit.html" class="wsite-menu-item">
Places To Visit
</a>
</li>
<li class="wsite-menu-item-wrap">
<a href="http://www.maenporthestate.com/gallery.html" class="wsite-menu-item">
Gallery
</a>
</li>
<li class="wsite-menu-item-wrap">
<a href="http://www.maenporthestate.com/history.html" class="wsite-menu-item">
History
</a>
</li>
<li class="wsite-menu-item-wrap">
<a href="http://www.maenporthestate.com/find-us.html" class="wsite-menu-item">
Find Us
</a>
</li>
</ul>
</div>
  </div>
</div>
</div>
