<div id="wrapper">
  <div class="show-for-large-up">
  <!--  <header id="header">
      <div class="row collapse">
        <div class="large-12 columns">
          <div id="logomain"><a href="http://www.maenporthestate.com/"><img src="http://www.weebly.com/uploads/3/1/1/2/31128549/custom_themes/335895460405797472/files/Logo%20for%20new%20site-04%20250%20px%20wide.png?1403086597702"></a></div>

          <nav id="navigation">
            <ul class="wsite-menu-default">
              <li id="active" class="wsite-menu-item-wrap">
                <a href="http://www.maenporthestate.com/homes.html" class="wsite-menu-item">Homes</a>
              </li>
              <li class="wsite-menu-item-wrap">
                <a href="http://www.maenporthestate.com/leisure.html" class="wsite-menu-item">Leisure	</a>
              </li>
              <li class="wsite-menu-item-wrap">
                <a href="http://www.maenporthestate.com/gardens.html" class="wsite-menu-item">Gardens</a>
              </li>
              <li class="wsite-menu-item-wrap">
                <a href="http://www.maenporthestate.com/places-to-visit.html"class="wsite-menu-item">Places To Visit</a>
              </li>
              <li class="wsite-menu-item-wrap">
                <a href="http://www.maenporthestate.com/gallery.html"class="wsite-menu-item">Gallery</a>
              </li>
              <li class="wsite-menu-item-wrap">
                <a href="http://www.maenporthestate.com/history.html"class="wsite-menu-item">History</a>
              </li>
              <li class="wsite-menu-item-wrap">
                <a href="http://www.maenporthestate.com/find-us.html" class="wsite-menu-item">Find Us</a>
              </li>
            </ul>
          </nav>
          <div id="socialicons">
            <a href="https://twitter.com/MaenporthEstate" target="_blank">
              <img src="http://www.weebly.com/uploads/3/1/1/2/31128549/custom_themes/335895460405797472/files/Maenporth%20twitter-03.png?1403087330152">
            </a>
            <a href="https://www.facebook.com/MaenporthEstate?fref=ts" target="_blank">
              <img src="http://www.weebly.com/uploads/3/1/1/2/31128549/custom_themes/335895460405797472/files/maenporth%20facebook-03.png?1403087451158">
            </a>
            <a href="https://plus.google.com/101333752186501198379/about" target="_blank">
              <img src="http://www.weebly.com/uploads/3/1/1/2/31128549/custom_themes/335895460405797472/files/Maenporth%20google%20plus-03.png?1403087467401">
            </a>
          </div>
          <div id="contactnumber">01326 250605
          </div>
        </div>
      </div>
    </header>-->
    <header id="header">
      <div class="row collapse">
        <div class="large-3 columns">
          <div id="logomain">
            <a href="http://www.maenporthestate.com/">
              <img src="http://www.weebly.com/uploads/3/1/1/2/31128549/custom_themes/335895460405797472/files/Logo%20for%20new%20site-04%20250%20px%20wide.png?1403086597702">
            </a>
          </div>
        </div>
        <div class="large-9 columns">
          <nav id="navigation"><ul class="wsite-menu-default">
            <li id="active" class="wsite-menu-item-wrap    wsite-nav-1" style="position: relative;">
              <a href="http://www.maenporthestate.com/" class="wsite-menu-item" style="position: relative;">
                Home
              </a>
            </li>
            <li class="wsite-menu-item-wrap wsite-nav-2" style="position: relative;">
              <a href="http://holidayhomes.maenporthestate.com/properties/for-sale" class="wsite-menu-item" style="position: relative;">
                For Sale
              </a>
            </li>
            <li class="wsite-menu-item-wrap wsite-nav-3" style="position: relative;">
              <a href="http://holidayhomes.maenporthestate.com/properties/for-sale" class="wsite-menu-item" style="position: relative;">
                For Rent
              </a>
            </li>
            <li class="wsite-menu-item-wrap wsite-nav-4" style="position: relative;">
              <a href="http://www.maenporthestate.com/leisure.html" class="wsite-menu-item" style="position: relative;">
                Leisure
              </a>
            </li>
            <li class="wsite-menu-item-wrap    wsite-nav-5" style="position: relative;">
              <a href="http://www.maenporthestate.com/gardens.html" class="wsite-menu-item" style="position: relative;">
                Gardens
              </a>
            </li>
            <li class="wsite-menu-item-wrap    wsite-nav-6" style="position: relative;">
              <a href="http://www.maenporthestate.com/places-to-visit.html" class="wsite-menu-item" style="position: relative;">
                Places To Visit
              </a>
            </li>
            <li class="wsite-menu-item-wrap    wsite-nav-7" style="position: relative;">
              <a href="http://www.maenporthestate.com/gallery.html" class="wsite-menu-item" style="position: relative;">
                Gallery
              </a>
            </li>
            <li class="wsite-menu-item-wrap    wsite-nav-8" style="position: relative;">
              <a href="http://www.maenporthestate.com/history.html" class="wsite-menu-item" style="position: relative;">
                History
              </a>
            </li>
            <li class="wsite-menu-item-wrap    wsite-nav-9" style="position: relative;">
              <a href="http://www.maenporthestate.com/find-us.html" class="wsite-menu-item" style="position: relative;">
                Find Us
              </a>
            </li>
          </ul>
        </nav>
        <div class="row collapse">
          <div class="large-12 columns">
            <div id="socialicons">
              <a href="https://twitter.com/MaenporthEstate" target="_blank"><img src="http://www.weebly.com/uploads/3/1/1/2/31128549/custom_themes/335895460405797472/files/Maenporth%20twitter-03.png?1403087330152"></a>
              <a href="https://www.facebook.com/MaenporthEstate?fref=ts" target="_blank"><img src="http://www.weebly.com/uploads/3/1/1/2/31128549/custom_themes/335895460405797472/files/maenporth%20facebook-03.png?1403087451158"></a>
              <a href="https://plus.google.com/101333752186501198379/about" target="_blank"><img src="http://www.weebly.com/uploads/3/1/1/2/31128549/custom_themes/335895460405797472/files/Maenporth%20google%20plus-03.png?1403087467401"></a>
            </div>
          </div>
        </div>
        <div class="row collapse">
          <div class="large-12 columns">
            <div id="contactnumber">01326 250605
            </div>
          </div>
        </div>
      </div>
    </div>
    </header>
  </div>
  <div class="hide-for-large-up">
    <div class="row collapse">
      <div class="small-12 columns">
        <div id="logomain2"><a href="http://www.maenporthestate.com/"><img src="http://www.weebly.com/uploads/3/1/1/2/31128549/custom_themes/335895460405797472/files/Logo%20for%20new%20site-04%20250%20px%20wide.png?1403086597702"></a></div>
        <a href="http://www.maenporthestate.com/" class="button expand mnav-1 bdbt">Maenporth Home</a>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-6 columns">
        <a href="/properties/for-sale" class="button expand mnav-1 bdbt">For Sale</a>
      </div>
      <div class="small-6 columns">
        <a href="/properties/for-rent" class="button expand mnav-1 bdbt">For Rent</a>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-4 columns">
        <a href="http://www.maenporthestate.com/leisure.html" class="button expand mnav-1 bdbt">Leisure</a>
        <a href="http://www.maenporthestate.com/gardens" class="button expand mnav-2">Gardens</a>
      </div>
      <div class="small-4 columns">
        <a href="http://www.maenporthestate.com/places-to-visit-mobile.html" class="button expand mnav-2 bdbt bdlr">Visit</a>
        <a href="http://www.maenporthestate.com/gallery-mobile.html" class="button expand mnav-1 bdlr">Gallery</a>
      </div>
      <div class="small-4 columns">
        <a href="http://www.maenporthestate.com/history-mobile.html" class="button expand mnav-1 bdbt bdlronly">History</a>
        <a href="http://www.maenporthestate.com/find-us-mobile.html" class="button expand mnav-2 bdlronly">Find Us</a>
      </div>
    </div>
  </div>
