<body id="error-main">
  <div class="row collapse">
    <div class="large-6 large-centered columns">
      <div class="error-wrap">
        <h1>500</h1>
        <h2>Internal Error</h2>
        <p>We are very sorry but the page you requested has returned an error.</p>
        <p>Don't worry, we have been informed by our error tracking software that this has occurred and we will look into why it happened.</p>
        <p>Please try this page instead:</p>
        <a href="/properties/for-rent"><button>Try Here Instead</button></a>
      </div>
    </div>
  </div>
</body>
