.patch-1 h1 {
  color:#414141 !important;
}

.patch-2 {
  color:#414141 !important;
}

.leisure h1 {
    color:#414141 !important;
}

.leisure em {
  font-family: 'sans-serif' !important;
  font-style: italic;
}
