<h1>Thank you for making an enquiry.</h1>
<h3>Your message has been sent to the owner of the property by email.<h3>
  <p>There are 90 properties at Maenporth, each one has its own charms.  Why not send off several enquiries?  The estate is very popular and sending more than one enquiry will increase chances of making a successful booking.</p>
<a href="/properties/for-rent"><button>Back to Properties For Rent</button></a>
