<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Maenporth Estate | Properties for sale and holiday rent</title>

    <meta name="description" content="Maenporth Estate Properties for sale and holiday rent.">
    <meta name="author" content="Workshop 14 Limited">
    <link rel="canonical" href="DEBT set canonical url" />
    <link rel="shortcut icon" type="image/ico" href="/img/favicon.ico"/>
    <!-- Mobile-friendly viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="stylesheet" href="/vendor-css/owlcss.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.css">
    <meta name="google-site-verification" content="lcPNShsGeD26z50akivJXSAtM9VtvEbkdpFL_6457N8" />
    <meta name="msvalidate.01" content="065772EA20B39AD8731EAAACD6F1BE20" />
</head>
<body>
    <%= render File.expand_path('../../partials/header.erb', __FILE__).to_sym %>

    <%= yield %>

    <%= render File.expand_path('../../partials/footer.erb', __FILE__).to_sym %>

    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');  ga('create', 'UA-63099671-2', 'auto');
     ga('send', 'pageview');
    </script>
</body>
</html>
