<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Maenporth</title>

    <meta name="author" content="Workshop14Limited">
    <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>

    <%= yield %>

    <%= render File.expand_path('../../partials/footer.erb', __FILE__).to_sym %>

</body>
</html>
